{% load static %}
<html>

<head>
    <title>EK's playground</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="script" href="https://code.jquery.com/jquery-2.2.4.min.js">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="script" href="{% static 'js/scroll.js' %}">
</head>

<body>
    <nav class="nav">
        <div class="nav-wrap">
            <ul class="nav-left">
                <img class="nav-logo" src="static/media/logo.svg" alt="logo">
                <div class="nav-left-text">
                    <a href="#whatIdo" id="link1">What I do</a></li>
                    <a href="#work" id="link2">Work</a></li>
                    <a href="#contact" id="link3">Contact</a></li>
                </div>
            </ul>
            <div class="nav-right nav-right-text">
                <a href="">Curious who I am?</a>
                {% if user.is_authenticated %}
                <a class="top-menu" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
                {% endif %}
            </div>
        </div>

    </nav>

    <div class="main">
        {% block content %} {% endblock %}
    </div>


    <footer class="footer">
        <p>© 2018 EK EunKyung Kim. All rights reserved. Love.</p>
        <div class="social">
            <li>linkedin</li>
            <li>instagram</li>
        </div>
    </footer>

</body>

</html>