{% load static %}
<html>

<head>
    <title>EK's playground</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>
    <nav class="nav">
        <div class="nav-wrap">
            <ul class="nav-left">
                <img class="nav-logo" src="static/media/logo.svg" alt="logo">
                <a href="">What I do</a></li>
                <a href="">Work</a></li>
                <a href="">Contact</a></li>
            </ul>
            <ul class="nav-right">
                <li class="top-menu"><a href="">Curious who I am?</a></li>
                {% if user.is_authenticated %}
                <li class="top-menu"><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <div class="main">
        {% block content %} {% endblock %}
    </div>


    <footer class="footer">
        <p>© 2018 EK EunKyung Kim. All rights reserved. Love.</p>
        <div class="social">
            <li>linkedin</li>
            <li>instagram</li>
        </div>
    </footer>

</body>

</html>