{% extends 'blog/base.html' %} {% block content %}
<!--banner-->
<div class="post-banner">
    <img class="post-cover" src="{{ post.cover_img.url }}" alt="{{post.title}}">
    <div class="post-text">
        <h1 class="post-text-title white">{{post.title}}</h1>
        <h4 class="post-text-subtitle white"> {{post.subtitle}}</h4>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </div>
</div>

<div class="container">

    <!--background & role-->

    <div class="post-background">
        <p>background</p>
        <p> {{ post.background }}</p>
    </div>
    <div class="post-role">
        <p>my role</p>
        <p> {{ post.role }}</p>
    </div>

    <!--content detail-->

    <div class="post-content">
        <div>
            {{ post.content | safe}}
        </div>
    </div>

</div>
{% endblock %}