 {% extends 'blog/base.html' %} {% block content %} {% load static %}
<div class="main-banner">
    <div class="main-banner-left">
        <img class="main-img" src="{% static 'blog/main.svg' %}" alt="main-image">
    </div>
    <div class="main-banner-right">
        <p class="main-banner-text">Meet EK.</p>
        <p> EK [EEE KEI], she’s a designer who loves to fix the mess.
        </p>
    </div>
</div>

<div class="service">
    bla bla bla
</div>

<div class="content container">
    {% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
</div>

<div class="contact">
    <h2>Contact me</h2>
    <p>eunkyung.ek.kim@gmail.com</p>
    <button>shoot me an email!</button>
</div>

{% endblock %}