{% extends 'blog/base.html' %} {% block content %} {% load static %}
<!-- main banner here-->
<div class="main-banner">
    <div class="container row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <img class="main-img pt-3 pl-2" src="{% static 'media/main.svg' %}" alt="main-image">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="main-banner-right pt-5">
                <div class="row">
                    <p class="main-banner-text">Meet&nbsp;</p>
                    <p class="main-banner-text white">EK.</p>
                </div>
                <div class="row">
                    <h3>EK [EEE KEI], she’s a designer who can help you</br> study your users and playing creative
                        magic.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service -->
<div class="whatIdo" id="whatIdo">
    <div class="container">
        <div class="row contact-icon-div justify-content-center">
            <img class="section-icon" src="{% static 'media/work.svg' %}" alt="Section">
            <h4 class="yellow pl-2">What I do</h4>
        </div>

        <div class="row mx-3 justify-content-center">
            <div class="service-card col-md-2 col-sm-12 pt-3 pb-1 px-3" data-toggle="tooltip" data-placement="right"
                title="Not sure why on your questions? I can help to find out what're the underlying problems that your service has, or what
        people want in the field of your business">
                <img class="service-img" src="{% static 'media/research.png' %}" alt="User research">
                <p class="service-text">User research</h3>
            </div>

            <div class="service-card col-md-2 col-sm-12 pt-3 pb-1 px-3" data-toggle="tooltip" data-placement="right"
                title="Your site, your application. I can help you to organize the structure and provide a flow that are already proven
                usable, brilliant">
                <img class="service-img" src="{% static 'media/flow.png' %}" alt="UX structure and flow">
                <p class="service-text">UX structure and flow</p>
            </div>

            <div class="service-card col-md-2 col-sm-12 pt-3 pb-1 px-3" data-toggle="tooltip" data-placement="right"
                title="Feels like everyone is not aligned? stuck on something? I can provide a fresh pair of eyes and conduct workshops (using
        lots of post-its)">
                <img class="service-img" src="{% static 'media/workshop.png' %}" alt="Workshop">
                <p class="service-text">Workshops</p>
            </div>

            <div class="service-card col-md-2 col-sm-12 pt-3 pb-1 px-3" data-toggle="tooltip" data-placement="right"
                title="I can help you to create a visual styling and design assets that are matching with your brand. If you don't have a
        brand, don't worry, I can help you with that.">
                <img class="service-img" src="{% static 'media/visd.png' %}" alt="Visual Design">
                <p class="service-text">Visual design</p>
            </div>

            <div class="service-card col-md-2 col-sm-12 pt-3 pb-1 px-3" data-toggle="tooltip" data-placement="right"
                title=": Honestly I am not that super, but I can try.">
                <img class="service-img" src="{% static 'media/video.png' %}" alt="Video and photograph">
                <p class="service-text">Video and photograph</p>
            </div>

        </div>
    </div>
</div>

<!-- worklist here -->
<div class="worklist" id="work">
    <div class="container">
        <div class="row justify-content-center contact-icon-div">
            <img class="section-icon" src="{% static 'media/project.svg' %}" alt="Section">
            <h4 class="yellow section-title pl-2">Projects</h4>
        </div>
        <div class="listall row justify-content-center">
            {% for post in posts %}
            <div class="card card-ek mx-4 mb-5 col-xs-12 col-md-3">
                <img class="card-img-top postlist-img" src="{{ post.thumbnail.url }}" alt="{{post.title}}">
                <h3 class="postlist-title px-3">{{ post.title }}</h3>
                <p class="postlist-subtitle px-3">{{ post.subtitle }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-warning button-ek w-50 ml-3">Check
                    it
                    out</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- contact here -->
<!-- need review -->

<div class="contact" id="contact">
    <div class="container">
        <div class="row justify-content-center contact-icon-div">
            <img class="contact-icon" src="{% static 'media/contact.svg' %}" alt="Contact">
            <h4 class="yellow pl-2">Contact</h4>
        </div>
        <p class="row white justify-content-center">eunkyung.ek.kim@gmail.com</p>
        <a href="mailto:eunkyung.ek.kim@gmail.com" data-toggle="tooltip" title="" data-original-title="Best way to contact me">
            <button class="btn btn-outline-warning one-item-center button-ek">Shoot me an email!
            </button>
        </a>
        <p class="grey center">or</p>
        <div class="container">
            <div class="row justify-content-center">
                <a href="https://www.linkedin.com/in/ekeunkyung/" target="blank">
                    <img class="social-icon" src="{% static 'media/linkedin.svg' %}" alt="Linkedin">
                </a>
                <a href="https://www.instagram.com/ekim32/" target="blank">
                    <img class="social-icon" src="{% static 'media/insta.svg' %}" alt="Instagram">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}