/*text */
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

p,
a {
  font-size: 14px;
  font-weight: 400;
}

a,
a:visited {
  color: #fccf45;
}

a:hover {
  color: #fccf45;
  text-decoration: underline;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

/* check this one! */

.post {
  margin-bottom: 70px;
}

/* text color */
.yellow {
  color: #fccf45;
}

.grey {
  color: #828282;
}

.white {
  color: #ffffff;
}

/* section */
.section-icon {
  width: 25px;
  height: 25px;
}

.section-title {
  font-weight: 600;
}

/* button */
.button-ek {
  border: 2px solid #fccf45 !important;
  border-radius: 0 !important;
  font-size: 14px;
  margin-bottom: 10px;
  color: #fccf45;
}

/*layout style*/
.center {
  text-align: center;
}

.one-item-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom-10 {
  margin-bottom: 10px;
}

/* nav style */
.nav-ek {
  background-color: white;
}

.nav-logo-ek {
  margin-right: 0px;
}

.nav-text {
  color: #070928 !important;
}

.nav-text:hover {
  color: #fccf45 !important;
  text-decoration: underline;
}

.nav-text:active {
  text-decoration: underline;
}

.nav-left {
  display: flex;
  justify-content: space-between;
}

.nav-left-text {
  list-style: none;
  padding-top: 18px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}
.nav-right-text {
  list-style: none;
  padding-top: 18px;
  padding-right: 20px;
  text-align: right;
}

.nav-logo {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.nav-right {
  float: right;
  text-align: right;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler {
  border-color: rgb(0, 0, 0);
}

/* footer style */

.footer {
  background-color: #1c1d2b;
  width: 100%;
}
.footer-ek {
  color: #666666;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
  display: block;
}
.social {
  color: white;
  display: flex;
}
