h1,
h2,
h3,
h4,
a,
a:visited {
  font-family: "Open Sans", sans-serif;
  color: #1c1d2b;
}

a:hover {
  color: #fccf45;
  text-decoration: underline;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

/* check this one! */

.post {
  margin-bottom: 70px;
}

/* nav style */
.nav {
  width: 100%;
  height: 60px;
  color: #070928;
  background-color: white;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-left {
  width: 40%;
  display: flex;
}

.nav-left-text {
  padding-top: 18px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav-right-text {
  padding-top: 18px;
  padding-right: 20px;
}

.nav-logo {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  margin-right: 50px;
}

.nav-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

/* footer style */

.footer {
  background-color: #070928;
  width: 100%;
  color: white;
}

.social {
  color: white;
  display: flex;
}
