/*text */
h1,
h2,
h3,
h4,
a,
a:visited {
  font-family: "Open Sans", sans-serif;
  color: #1c1d2b;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

p,
a {
  font-size: 14px;
  font-weight: 400;
}

a:hover {
  color: #fccf45;
  text-decoration: underline;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

/* check this one! */

.post {
  margin-bottom: 70px;
}

/* text color */
.yellow {
  color: #fccf45;
}

.grey {
  color: #828282;
}

.white {
  color: #ffffff;
}

/* button */
.button-ek {
  border: 2px solid !important;
  border-radius: 0 !important;
  font-size: 14px;
  margin-bottom: 10px;
}

/*layout style*/
.center {
  text-align: center;
}

.one-item-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom-10 {
  margin-bottom: 10px;
}

/* nav style */
.nav-ek {
  height: 60px;
  color: #070928;
  background-color: white;
}

.nav-logo-ek {
  margin-right: 0px;
}

/*.nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
*/
.nav-left {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.nav-left-text {
  list-style: none;
  padding-top: 18px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}
.nav-right-text {
  list-style: none;
  padding-top: 18px;
  padding-right: 20px;
  text-align: right;
}

.nav-logo {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.nav-right {
  float: right;
  text-align: right;
}

/* footer style */

.footer {
  background-color: #1c1d2b;
  width: 100%;
}
.footer-ek {
  color: #666666;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}
.social {
  color: white;
  display: flex;
}
