.post-banner {
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  height: 350px;
  z-index: 0;
  text-align: center;
  background: black;
}

.post-cover {
  width: 1440px;
  height: auto;
  opacity: 0.5;
}

.post-cover-text {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-top: 80px;
  color: white;
}

.post-title {
  padding: 10 0 10 0px;
  text-align: center;
}

.post-text {
  padding: 10 0 10 0px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .post-text-title {
    font-size: 30px;
    font-weight: 600;
  }
  .post-text-subtitle {
    font-size: 14px;
  }

  .post-text {
    font-size: 14px;
  }
}
