/* main banner style */

.main-banner {
  width: 100%;
  background-color: #fccf45;
  padding: 30px;
}

.main-banner-text {
  font-size: 30px;
  font-weight: bold;
}

.main-img {
  width: 100%;
  max-width: 500px;
  object-fit: scale-down;
}

/* service style */
.whatIdo {
  width: 100%;
  background-color: #fff9ea;
  padding: 40 30 30 30px;
  text-align: center;
}
.service-card {
  text-align: center;
}

.service-card:hover {
  background-color: #eeeeee;
}

.service-img {
  width: 60px;
  text-align: center;
}

.service-text {
  padding-top: 10px;
  font-weight: 500;
}

/* worklist style */
.worklist {
  padding: 40 30 30 30px;
}
.hr-ek {
  width: 50%;
}

.listall {
  padding-left: 30px;
  padding-right: 30px;
}

.card-ek {
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.postlist-title {
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
}
/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) {
  ...;
}

*/

.postlist-subtitle {
  font-size: 14px;
  color: #666666;
}
.postlist-img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* contact style */

.contact {
  background-color: #1c1d2b;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-icon {
  width: 20px;
  height: 23.5px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}
/* not working */
.social-icon:hover {
  fill-opacity: 1 !important;
}
/*smooth scrolling*/

scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* media query*/
@media (min-width: 970px) {
  .main-banner-text {
    font-size: 80px;
  }
  .main-banner {
    max-height: 400px;
  }
}
